{% extends 'main/main.html' %}
{% load i18n staticfiles %}
{% load scheduletags %}

{% block extra_css %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fullPage.css' %}" />#}
    <style>
        body {
            background-color: #fff!important;
        }
        .section {
            padding-top: 100px;
        }
    </style>
    <link rel='stylesheet' type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css" />
    <style>
        .fc-event {
            cursor: pointer!important;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
{% endblock %}

{% block staff_href %}{% url 'landing_page' %}{% endblock %}
{% block departments_href %}{% url 'landing_page' %}{% endblock %}
{% block contact_href %}{% url 'landing_page' %}{% endblock %}

{% block main %}
    <div class="section staff-section">
        <div class="intro">
            <div id="calendar" style="width: 1100px; margin:auto"></div>
            <script type='text/javascript'>
            $(document).ready(function() {
                // page is now ready, initialize the calendar...
                $('#calendar').fullCalendar({
                    // put your options and callbacks here
                  events: "{% url 'api_occurences_custom' %}" + '?calendar_slug=default',
                    eventClick: function(calEvent, jsEvent, view) {
                        $('.modal-title').text(calEvent.title);
                        $('.modal-body').find('p').text(calEvent.description);
                        $('.event-modal').click();
                    }
                })
            });
            </script>
        </div>
    </div>


    <a class="event-modal" href="#" data-toggle="modal" data-target="#staffModal1" style="display: none"></a>

    <!-- Staff  Modal 3-->
    <div class="modal fade staff-modal" id="staffModal1" tabindex="-1" role="dialog" aria-labelledby="staffModal1Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="staffModal1Label"></h4>
          </div>
          <div class="modal-body">
              <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}