{% extends 'main/main.html' %}
{% load i18n staticfiles %}

{% block extra_css %}
{#        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fullPage.css' %}" />#}
    <style>
        body {
            background-color: #4673a3!important;
        }
        .section {
            padding-top: 100px;
        }
    </style>
{% endblock %}
{% block extra_js %}{% endblock %}

{#{% block council_class %}active{% endblock %}#}

{% block staff_href %}{% url 'landing_page' %}{% endblock %}
{% block departments_href %}{% url 'landing_page' %}{% endblock %}
{% block contact_href %}{% url 'landing_page' %}{% endblock %}

{% block main %}
    <div class="section staff-section">
        <div class="intro">
            <h1>{% trans "Council" %}</h1>
            <div class="row departments-row">
                <div class="col-lg-4">
                    <div class="ih-item circle effect3 left_to_right">
                        <a>
                            <div class="img"><img src="{% static 'img/stud/stud3.jpg' %}" alt="img"></div>
                            <div class="info">
                              <h3>Макеева Анастасия Юрьевна</h3>
                              <p>председатель студенческого совета ФЭПиМУ. Телефон – 89817191179</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ih-item circle effect3 left_to_right">
                        <a>
                            <div class="img"><img src="{% static 'img/stud/stud2.jpg' %}" alt="img"></div>
                            <div class="info">
                              <h3>Бочарова Ирина Сергеевна</h3>
                              <p> руководитель культурно-массового направления. Телефон – 89215621271</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ih-item circle effect3 left_to_right">
                        <a>
                            <div class="img"><img src="{% static 'img/stud/stud1.jpg' %}" alt="img"></div>
                            <div class="info">
                              <h3>Богоявленский Дмитрий Борисович</h3>
                              <p>руководитель направления внешних связей. Телефон – 89111421891</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row departments-row">
                <div class="col-lg-4">
                    <div class="ih-item circle effect3 left_to_right">
                        <a>
                            <div class="img"><img src="{% static 'img/stud/stud4.jpg' %}" alt="img"></div>
                            <div class="info">
                              <h3>Проников Илья  Романович</h3>
                              <p>руководитель спортивного направления. Телефон – 89062255112</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ih-item circle effect3 left_to_right">
                        <a>
                            <div class="img"><img src="{% static 'img/stud/stud5.jpg' %}" alt="img"></div>
                            <div class="info">
                              <h3>Решаева Валерия Александровна</h3>
                              <p>руководитель медиа направления. Телефон – 89817845232</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ih-item circle effect3 left_to_right">
                        <a>
                            <div class="img"><img src="{% static 'img/stud/stud6.jpg' %}" alt="img"></div>
                            <div class="info">
                              <h3>Филимонова Диана Игоревна</h3>
                              <p>руководитель направления журналистики. Телефон – 89118480355</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row departments-row">
                <div class="col-lg-4">
                    <div class="ih-item circle effect3 left_to_right">
                        <a>
                            <div class="img"><img src="{% static 'img/stud/stud7.jpg' %}" alt="img"></div>
                            <div class="info">
                              <h3>Степанова Екатерина Владимировна</h3>
                              <p>руководитель учебного направления. Телефон – 89217752606</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ih-item circle effect3 left_to_right">
                        <a>
                            <div class="img"><img src="{% static 'img/stud/stud8.jpg' %}" alt="img"></div>
                            <div class="info">
                              <h3>Терещенко Евгений Александрович</h3>
                              <p>зам. председателя студсовета ФЭПиМУ, руководитель центра развития образования и карьеры. 89112443597</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}