{% extends 'main/main.html' %}
{% load i18n staticfiles %}

{% block extra_css %}
    <style>
        body {
            background-color: #4673a3!important;
        }
        .section {
            padding-top: 100px;
        }
    </style>
{% endblock %}
{% block extra_js %}
{% endblock %}

{% block staff_href %}{% url 'landing_page' %}{% endblock %}
{% block departments_href %}{% url 'landing_page' %}{% endblock %}
{% block contact_href %}{% url 'landing_page' %}{% endblock %}

{% block main %}
    <br>
    <br>
    <br>
    <br>
    <br>
    {% for article in items %}
        <div class="section staff-section students-panel">
            <div style="text-align: left; padding: 25px">
                {{ article.description | safe }}
            </div>
        </div>
        <br>
        <br>
    {% endfor %}
{% endblock %}