/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 5em;
    font-family: arial,helvetica!important;
    color: #fff;
    margin:0;
}
.intro p{
    color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
    margin-bottom: 0;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

/*Adding background for the slides
* --------------------------------------- */
#slide1{
    background: url("/static/img/slide_1.jpg") no-repeat;
    padding: 6% 0 0 0;
    background-size: contain;
}
#slide2{
    background: url("/static/img/slide_1_old.jpg")  no-repeat;
    padding: 6% 0 0 0;
    background-size: cover;
    /*width: 500px;*/
}

/* Overwriting styles for the navigation dots (to place it where we want)
* --------------------------------------- */
.fullPage-slidesNav.bottom{
    bottom: 25px;
}

#section1 .tableCell, #section2 .tableCell,  #section3 .tableCell, .contact-section .tableCell {
    display: table-cell;
    vertical-align: top;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}

.departments-row {
    padding-top: 30px;
}

.staff-section div.ih-item {
    margin: auto;
}

#section3 .container {
    padding-top: 50px;
}

#section0 {
    margin-top: 50px;
    height: 600px!important;
}

/*#fullpage {*/
    /*height: 50%!important;*/
/*}*/

.contact-section .container {
    padding-top: 50px;
}

.staff-modal p {
    font-size: 20px;
}

.departments-thumbnail {
    width: 350px;
    margin: auto;
}


.lang-select {
    margin-bottom: 0px!important;
}


.tags-btn {
    margin-bottom: 20px;
}

h2.entry-title a {
    color: #ffffff;
}

#content h2, #content h3, .entry-content p{
    color: #ffffff;
}

#content h4 {
    color: #00bc8c;
}

.dropdown {
    cursor: pointer;
}

.fc-event {
    cursor: pointer!important;
}

.students-panel {
    min-height: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

    max-width: 1100px;
    margin:auto;
}