{% extends "zinnia:zinnia/base.html" %}
{% load zinnia_tags i18n %}

{% block breadcrumbs %}
  {% zinnia_breadcrumbs 'Новости' %}
{% endblock breadcrumbs %}

{% block sidebar %}

<form method="get" action="{% url 'zinnia_entry_search' %}">
    <div class="form-group">
      <div class="input-group">
              <input type="text" class="search-query form-control" placeholder="{% trans 'Search' %}" name="pattern" value="{{ pattern }}" />
            <span class="input-group-btn">
              <button type="submit" name="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </span>
      </div>
    </div>
</form>
<a href="{% url 'zinnia_tag_list' %}" title="{% trans "Tag list" %}" class="btn btn-default btn-lg btn-block tags-btn">
    {% trans "Tags" %}
</a>

<a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}" class="btn btn-default btn-lg btn-block tags-btn">
    {% trans "Sitemap" %}
</a>

<aside id="widget-categories" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Categories" %}
  </div>
  {% get_categories %}
</aside>
<aside id="widget-authors" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Authors" %}
  </div>
  {% get_authors %}
</aside>
<aside id="widget-recents" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Recent entries" %}
  </div>
  {% get_recent_entries %}
</aside>
{% if user.is_authenticated %}
<aside id="widget-tools" class="widget panel panel-danger">
  <div class="panel-heading">
    {% trans "Tools" %}
  </div>
  <ul class="list-group">
    {% if perms.zinnia %}
    <li class="list-group-item">
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
        <span class="glyphicon glyphicon-book"></span>
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li class="list-group-item">
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
        <span class="glyphicon glyphicon-pencil"></span>
        {% trans "Post an entry" %}
      </a>
    </li>
    {% endif %}
    {% block admin-tools %}
    {% endblock admin-tools %}
  </ul>
</aside>
{% endif %}
{% endblock %}