{% extends 'main/main.html' %}
{% load i18n staticfiles %}

{% block staff_href %}{% url 'landing_page' %}{% endblock %}
{% block departments_href %}{% url 'landing_page' %}{% endblock %}
{% block contact_href %}{% url 'landing_page' %}{% endblock %}

{% block extra_css %}

    <style>
        body {
            background-color: #4673a3!important;
            padding-top: 70px;
        }
        h1 {
            font-size: 100%!important;
        }
    </style>
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block main %}

    {% block slider %}{% endblock %}
    <div class="container">
      <div class="row">
        <div id="content" class="hfeed col-xs-12 col-sm-8 col-md-8 col-lg-8">
          {% block breadcrumbs %}{% endblock %}
          {% block content %}
          {% endblock content %}
        </div>
        <div id="sidebar" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          {% block sidebar %}
          {% endblock sidebar %}
        </div>
      </div>
    </div>
    <footer class="container">
      <p>{% blocktrans %}Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="https://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.{% endblocktrans %}</p>
    </footer>
{% endblock %}


