<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static i18n %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
{#	<title>{% trans 'PolarSPB - FEM' %}</title>#}
	<title>СпбГПА - ЭПиМУ</title>
    <meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage full-screen normal scrolling with autoScrolling." />
	<meta name="keywords"  content="fullpage,jquery,demo,screen,fullscreen,normal scroll,autoscrolling, scroll" />
	<meta name="Resource-type" content="Document" />
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fullPage.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/examples.css' %}" />
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ihover.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.3.5/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/polarspb.css' %}" />

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.3.5/bootstrap-select.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extra_js %}
        <script type="text/javascript" src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fullPage.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/examples.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#fullpage').fullpage({
                    menu: '#menu',
                    anchors: ['firstPage', 'staff', 'departments', 'contact'],
                    slidesColor: ['#f0f0f0', '#4673a3', '#4673a3', '#4673a3'],
                    autoScrolling: false
                });
            });
        </script>
    {% endblock %}
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
{#          <a class="navbar-brand" href="{% url 'landing_page' %}">{% trans 'PolarSPB - FEM' %}</a>#}
          <a class="navbar-brand" href="{% url 'landing_page' %}">СпбГПА - ЭПиМУ</a>
        </div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{% block staff_href %}{% endblock %}#staff">{% trans 'Staff' %}</a></li>
{#            <li><a href="{% block departments_href %}{% endblock %}#departments">{% trans 'Departments' %}</a></li>#}
            <li><a href="{% block departments_href %}{% endblock %}#departments">EPMU News</a></li>
            <li><a href="{% block contact_href %}{% endblock %}#contact">{% trans 'Contact' %}</a></li>
            <li class="{% block council_class %}{% endblock %}"><a href="{% url 'council_page' %}">{% trans 'Council' %}</a></li>
            <li><a href="{% url 'zinnia_entry_archive_index' %}">{% trans 'News' %}</a></li>
            <li><a href="{% url 'calendar_page' %}">Календарь</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">{% trans 'Info' %}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'students_page' %}">{% trans 'For students' %}</a></li>
                <li><a href="{% url 'parents_page' %}">{% trans 'For parents' %}</a></li>
                <li><a href="{% url 'projects_page' %}">Проекты</a></li>
                <li><a href="{% url 'outs_page' %}">Вне академии</a></li>
{#                <li><a>{% trans 'For organizations' %}</a></li>#}
              </ul>
            </li>
{#            <li class="dropdown">#}
{#              <a class="dropdown-toggle" data-toggle="dropdown">{% trans 'Additional' %}<b class="caret"></b></a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a href="{% url 'calendar_page' %}">Календарь</a></li>#}
{#                <li><a>{% trans 'Projects' %}</a></li>#}
{#                <li><a>{% trans 'Rating' %}</a></li>#}
{#                <li><a>{% trans 'Timetable' %}</a></li>#}
{#                <li><a>{% trans 'Additional education' %}</a></li>#}
{#              </ul>#}
{#            </li>#}
          </ul>
{#          <ul class="nav navbar-nav navbar-right">#}
{#            <form class="lang-form navbar-form navbar-right " action="/i18n/setlang/" method="POST">#}
{#                {% csrf_token %}#}
{#                <select name="language" class="lang-select selectpicker" data-width="90px" >#}
{#                  {% for lang in LANGUAGES %}#}
{#                     <option {% if lang.0 == request.LANGUAGE_CODE %}selected{% endif %} value="{{ lang.0 }}">{{ lang.1 }}</option>#}
{#                  {% endfor %}#}
{#                </select><br/>#}
{#                <script>#}
{#                    $(document).ready(function() {#}
{#                        $('.lang-select').change(function(){#}
{#                            $('.lang-form').submit();#}
{#                        });#}
{#                        $('.selectpicker').selectpicker();#}
{#                    })#}
{#                </script>#}
{#            </form>#}
{#          </ul>#}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

{% block main %}
    <div id="fullpage">
        <div class="section" id="section0">
            <div class="slide" id="slide1">
{#                <div class="intro">#}
{#                    <h1>{% trans 'Polar Academy of St.Petersbourg' %}</h1>#}
{#                    <p>#}
{#                        {% trans 'Faculty of Economics and Management' %}#}
{#                    </p>#}
{#                </div>#}
            </div>

            <div class="slide" id="slide2">
{#                <h1>{% trans 'Forward to win!' %}</h1>#}
            </div>
            <div class="fullPage-slidesNav bottom" style="margin-left: -70px;">
                <ul>
                    <li><a href="#" class="active"><span></span></a></li>
                    <li><a href="#" class=""><span></span></a></li>
                </ul>
            </div>
        </div>

        <div class="section staff-section" id="section1">
            <div class="intro">
                <h1>{% trans "Staff" %}</h1>
                <div class="row departments-row">
                    <div class="col-lg-4">
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#" data-toggle="modal" data-target="#staffModal3" >
                                <div class="img"><img src="{% static 'img/staff/dec3.jpg' %}" alt="img"></div>
                                <div class="info">
                                  <h3>Фейлинг Татьяна Борисовна</h3>
{#                                  <p>Декан ФЭПиМУ, кандидат педагогических наук, доцент. Телефон - 89522326417</p>#}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#" data-toggle="modal" data-target="#staffModal1">
                                <div class="img"><img src="{% static 'img/staff/dec1.jpg' %}" alt="img"></div>
                                <div class="info">
                                  <h3>Heading here</h3>
{#                                  <p>Description goes here</p>#}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#" data-toggle="modal" data-target="#staffModal2">
                                <div class="img"><img src="{% static 'img/staff/dec2.jpg' %}" alt="img"></div>
                                <div class="info">
                                  <h3>Пушкарева Людмила Васильевна</h3>
{#                                  <p>Description goes here</p>#}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h1>Студент месяца</h1>
                <div>
                    <div class="ih-item circle effect3 left_to_right">
                        <a>
                            <div class="img"><img src="{% static 'img/stud_of_month.jpg' %}" alt="img"></div>
                            <div class="info">
                              <h3>Шапаренко Софья</h3>
{#                              <p>Description goes here</p>#}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section " id="section2">
            <div class="intro">
{#                <h1>{% trans 'Departments' %}</h1>#}
                <h1>EPMU News</h1>
                <br>
                <div>
                    {{ latest_video.code|safe }}
{#                    <iframe width="640" height="480" src="//www.youtube.com/embed/P-4seOnS4uA" frameborder="0" allowfullscreen></iframe>#}
                </div>
{#                <div class="row departments-row">#}
{#                    <div class="col-lg-6">#}
{#                      <h2>{% trans 'Department of economy and finance' %}</h2>#}
{#                      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>#}
{#                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
{#                    </div>#}
{#                    <div class="col-lg-6">#}
{#                      <h2>{% trans 'Department of philosophy humane-social science' %}</h2>#}
{#                      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>#}
{#                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row departments-row">#}
{#                    <div class="col-lg-6">#}
{#                      <h2>{% trans 'Department of mathematics and IT science' %}</h2>#}
{#                      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>#}
{#                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
{#                    </div>#}
{#                    <div class="col-lg-6">#}
{#                      <h2>{% trans 'Department of government management' %}</h2>#}
{#                      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>#}
{#                      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>

        <div class="section contact-section" id="section3">
            <div class="intro">
                <h1>{% trans "Contact" %}</h1>

                <div class="container">
                      <div class="row">
                        <div class="col-lg-12">
                          <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=59.909278,30.342583&amp;spn=59.909278,30.342583&amp;t=m&amp;z=10&amp;q=59.909278, 30.342583&amp;output=embed"></iframe>
                        </div>
                      </div><!-- /.row -->
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <!-- Staff  Modal 1-->
    <div class="modal fade staff-modal" id="staffModal1" tabindex="-1" role="dialog" aria-labelledby="staffModal1Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="staffModal1Label">{% trans "Greeting" %}</h4>
          </div>
          <div class="modal-body">
            <blockquote>
              <p>{% trans  "Hi guys! And welcome to Polar Academy!" %}</p>
              <footer><cite title="Source Title">{% trans 'Jim Carrey' %}</cite></footer>
            </blockquote>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Staff  Modal 2-->
    <div class="modal fade staff-modal" id="staffModal2" tabindex="-1" role="dialog" aria-labelledby="staffModal2Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="staffModal2Label">{% trans "Greeting" %}</h4>
          </div>
          <div class="modal-body">
            <blockquote>
              <p>{% trans  "Hi guys! And welcome to Polar Academy!" %}</p>
              <footer><cite title="Source Title">{% trans 'Myke Tyson' %}</cite></footer>
            </blockquote>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Staff  Modal 3-->
    <div class="modal fade staff-modal" id="staffModal3" tabindex="-1" role="dialog" aria-labelledby="staffModal3Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
{#            <h4 class="modal-title" id="staffModal3Label">{% trans "Greeting" %}</h4>#}
            <h4 class="modal-title" id="staffModal3Label">Фейлинг Татьяна Борисовна</h4>
          </div>
          <div class="modal-body">
              <p>Декан ФЭПиМУ, кандидат педагогических наук, доцент. Телефон - 89522326417</p>
{#            <blockquote>#}
{#              <p>{% trans  "Hi guys! And welcome to Polar Academy!" %}</p>#}
{#              <footer><cite title="Source Title">{% trans 'Jim Carrey' %}</cite></footer>#}
{#            </blockquote>#}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
</body>
</html>